@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html{
  scroll-behavior: smooth;  
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #28292e;
  height: auto;
 scrollbar-color: #494949;
}

.top{
                     
                      background-image: 
                      linear-gradient(to bottom, rgba(245, 246, 252, 0), #28292e),
                      url('sources/img/website_background_92a.png');
                      width: 100%;
                      height: 700px;
                      background-size: cover;
                      color: white;
                    
                    }

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .burger{
  height: 3px;
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .toggle-button {
    display: flex;
  }

  .covercolor{
    display: none;
    width: 100%;
  }

  nav{
    flex-direction: column;
    align-items: flex-start;
  }

  .covercolor > ul{
    flex-direction: column;
    width: 100%;
  }

  .covercolor > li{
    text-align: center;
  }

  .covercolor > li > a{
    padding: .5rem 1rem;
  }

  .covercolor.active{
    display: flex;
  }

  .projetimg{
  justify-self: center;
  width: 260px;
}
}



.barnav{
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  box-align: 0;
}

body-item img{
  width: 50%;
  height: auto;

}

.toptext{
  text-align: center;
  padding-top: 200px;
}

.introtext{
  color: rgb(228, 228, 228);
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 0px;
  padding-right: 0px;
}

.simpletext{
  color: rgb(228, 228, 228);
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 0px;
  padding-right: 0px;
}

h1{
    box-align: center;
    text-align: center;
    color: #fff;
    font-size: 50px;
}

h2{
  text-align: center;
  color: #fff;
}

h3{
  color: #31c2aa;
  font-size: 28px;
}

span{
  color: #31c2aa;
}

td{
    border: 3px solid black;
}
header{
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


li, a {
font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 16px;
color: aliceblue;
text-decoration: none;
}

nav {
  border: 3px solid #1d1b1f;
  background-color: #1d1b1f;
  box-align: center;
  margin: 0px;
  top: 0;
}

nav > ul {
  margin: 0;
  text-align: center;
  padding: 15px;
}
nav li {
  list-style-type: none;
}
nav > ul > li {
  display: inline;
  margin: 5px;
  padding: 10px;
  position: relative;
}
nav > ul > li > a {
  padding: 20px 30px;
  color: rgb(200, 200, 200);
}

nav > ul > li > a:hover {
  color: #1cccbd;
  font-size: large;
  transition: all 0.4s;
  box-shadow: #00ffdd;
}

.under {
  display: none;
}
nav a {
  text-decoration: none;
}

.covercolor {
  display: inline;
  margin: 0px;
  position: relative;
  box-align: left;
  transition: all 0.4s ease 0s;
}

.cvbtn {
  box-align: center;
}

.linkedin{
  padding-top: 3rem;
}

.linkedinbutt{
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  width: 12rem;
}

.cvbox {
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0px;
  text-align: left;
  background-color: #1c1d21;
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
}

.cvbtn{
  justify-content: center;
  display: flex;
}

.cvbtn > button{
  padding: .6rem 3rem;
  background-color: #49c0b0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.4s;
  
}

.cvbtn > button:hover{
  background-color: #7fffee;
  color: #39343f;
  box-shadow: #a8fff3 0px 4px 25px;
}

.button--ghost{
    background-color: transparent;
    border: 2px solid var(green);
    color: var(red);
}

.cvbox > button{
  padding: .6rem 3rem;
  background-color: #49c0b0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.4s;
}

.cvbox > button:hover{
  background-color: #3da093;
}

.buttonlink{
  padding-top: 40px;
  text-align: left;
}

.buttonlink > button{
  padding: 9px 25px;
  background-color: #49c0b0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.4s;
  height: 20px;
  width: 14px;
}

.buttonlink > button:hover{
  background-color: #6afdea;
  transition: .4s;
}

.sptitle > button{
  padding: 9px 25px;
  background-color: #7341ac;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4 ease 0s;
}

.sptitle > button:hover{
  background-color: #593285;
}


.cvtext {
  color: rgb(220, 220, 220);
}

.title{
  text-align: center;
  padding: 40px;
}

.sptitle{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
  color: #fff;
  padding-bottom: 20px;
}

.compimg{
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.logo{
  height: 70px;
  padding: 20px;
  margin-top: 40px;
}

.projects{
  text-align: center;
  padding: 40px;
  
}

.projectcards{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;  
  justify-self: center;

  /*align-items: center;*/
}

.projetimg{
  justify-self: center;
  width: 340px;
  border-radius: 1.2rem;
  
}

.projetxamimg{
  justify-self: center;
  width: 140px;
  border-radius: 1.2rem;
}

.cardtext{
  color: rgb(220, 220, 220);
  position: initial;
}

.card{
  background-color:#131416;
  border-radius: 1rem;
  border: 1px;
  color:#4cceb8;
  padding: 1.7rem;
  margin: 2rem;
}

.projectcards > .card:hover{
  padding: 3rem;
  transition: 0.4s;
  box-shadow:#63ffea -0px 8px 25px;
}

/* Formulaire */
.formclass{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  color: rgb(220, 220, 220);
  justify-content: center;
}

.form{
  background-color:#131416;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 2px solid;
  border-color:#42b3a0;
  color:#4cceb8;
  padding: 2.4rem;
  margin: 2rem;
  text-align: left;
  box-shadow: #131416 -4px 8px 50px;
}

.formelem{
  margin-bottom: 2.6rem;
  height: 3.6rem;
}

.forminput{
  background: none;
  height: 100%;
  width: 100%;
  border: 2px solid;
  color: #494949;
  border-radius: .6rem;
  /*text-align: center;*/
}

.formbtn_submit{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #abfffb;
  text-decoration: none;
  background-color: #49c0b0;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: .4s;
}

.formbtn_submit > input:hover{
  background-color: #00ffdd;
  box-shadow: #a8fff3 0px 4px 25px;
}
.adressclass{
  color: rgb(230, 230, 230);
  text-align: center;
  background-color: #1c1d21;
}

.tableausynt{
  image-resolution: 100px, 100px, 100px, 100px;
}

.xamarin{
  image-resolution: 100px, 100px, 100px, 100px;
}

footer{
  align-items: center;
  background-color: #1c1d21;
}



body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #39343f;
}
body::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #4cceb8;
}
body::-webkit-scrollbar-thumb:hover {
  background: #399b8a;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none; 
  }
}
