@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #28292e;
  height: auto;
 scrollbar-color: #494949;
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .burger{
  height: 3px;
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .toggle-button {
    display: flex;
  }

  .covercolor{
    display: none;
    width: 100%;
  }

  nav{
    flex-direction: column;
    align-items: flex-start;
  }

  .covercolor > ul{
    flex-direction: column;
    width: 100%;
  }

  .covercolor > li{
    text-align: center;
  }

  .covercolor > li > a{
    padding: .5rem 1rem;
  }

  .covercolor.active{
    display: flex;
  }
}



.barnav{
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  box-align: 0;
}

/* .top{ */
  /* background-image: url(../PorteFolio/img/tochki-linii-soedineniia.jpg); */
  /* height: 300px; */
   
    /* background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #28292e),
    url('../PorteFolio/img/tochki-linii-soedineniia.jpg');
    width: 100%;
    height: 400px;
    background-size: cover;
    color: white; */
  

  /* } */


  
  /* .cvbox::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: -webkit-linear-gradient( top , #F5F5F5, rgba(255,255,255,0));
    background: linear-gradient(to top, #F5F5F5, rgba(255,255,255,0));
} */

body-item img{
  width: 50%;
  height: auto;

}

.toptext{
  text-align: center;
  padding-top: 200px;
}

.simpletext{
  color: rgb(228, 228, 228);
  text-align: center;
  margin: 40px;
  padding-left: 200px;
  padding-right: 200px;
}

h1{
    box-align: center;
    text-align: center;
    color: #fff;
    font-size: 50px;
}

h2{
  text-align: center;
  color: #fff;
}

h3{
  color: #805ba9;
  font-size: 28px;
}

td{
    border: 3px solid black;
}
header{
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


li, a {
font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 16px;
color: aliceblue;
text-decoration: none;
}

nav {
  border: 3px solid #1d1b1f;
  background-color: #1d1b1f;
  box-align: center;
  margin: 0px;
  top: 0;
}

nav > ul {
  margin: 0;
  text-align: center;
  padding: 15px;
}
nav li {
  list-style-type: none;
}
nav > ul > li {
  display: inline;
  margin: 5px;
  padding: 10px;
  position: relative;
}
nav > ul > li > a {
  padding: 20px 30px;
  color: rgb(212, 212, 212);
}

nav > ul > li > a:hover {
  color: #7341ac;
  transition: all 0.4s ease 0s;
}

.under {
  display: none;
}
nav a {
  text-decoration: none;
}

.covercolor {
  display: inline;
  margin: 0px;
  position: relative;
  box-align: left;
  transition: all 0.4s ease 0s;
}


.buttonlink {
 align-items: left;
}

.linkedinbutt{
  background-image: url(../PorteFolio/img/LinkedIn-Symbole.png);
  cursor: pointer;
}

.cvbox {
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0px;
  text-align: left;
  background-color: #1c1d21;
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
}



.cvbox > button{
  padding: 9px 25px;
  background-color: #7341ac;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4 ease 0s;
}

.cvbox > button:hover{
  background-color: #593285;
}

.buttonlink{
  padding-top: 40px;
  text-align: left;
}

.buttonlink > button{
  padding: 9px 25px;
  background-color: #7341ac;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4 ease 0s;
}

.buttonlink > button:hover{
  background-color: #593285;
}

.sptitle > button{
  padding: 9px 25px;
  background-color: #7341ac;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4 ease 0s;
}

.sptitle > button:hover{
  background-color: #593285;
}


.cvtext {
  color: rgb(220, 220, 220);
}

.title{
  text-align: center;
  padding: 40px;
}

.sptitle{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
  color: #fff;
  padding-bottom: 20px;
}

/* Formulaire */
.formclass{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  color: rgb(220, 220, 220);
  justify-content: center;
  align-items: center;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.adressclass{
  color: rgb(230, 230, 230);
  text-align: center;
  background-color: #1c1d21;
}

.tableausynt{
  image-resolution: 100px, 100px, 100px, 100px;
}


footer{
  align-items: center;
  background-color: #1c1d21;
}



body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #39343f;
}
body::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #69468d;
}
body::-webkit-scrollbar-thumb:hover {
  background: #865ab3;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none; 
  }
}
